*{
  margin: 0; padding: 0; box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
:root{
  font-size: 62.5%;
  --ff-main: 'Raleway', sans-serif;
  --bg-clr-light:radial-gradient(circle, rgba(255,255,255,1) 25%, rgba(237,237,237,1) 100%);
  --bg-clr-dark: radial-gradient(circle, rgb(22, 22, 22) 0%, rgb(9, 9, 9) 55%);
  --fclr-light: hsl(255, 100%, 100%);
  --fclr-dark: hsl(0, 0%, 0%);
  --line-clr-light: linear-gradient(90deg, rgba(9,9,9,0.15) 0%, rgba(57,57,57,1) 50%, rgba(9,9,9,0.14609593837535018) 100%);
  --line-clr-dark: linear-gradient(90deg, rgba(220,220,220,0) 0%, rgba(0,0,0,1) 50%, rgba(220,220,220,0) 100%);
  --dropshw-color: 5px 5px 10px rgba(255, 255, 255, 0.055);
  --dropshw-color-hover: 5px 5px 10px rgba(255, 255, 255, 0.096);
  --font-hover-clr: hsl(199, 52%, 61%);
}
body{
  font-family: var(--ff-main);
  background: var(--bg-clr-dark);
}
.src-only{
  position: absolute; width: 1px; height: 1px;
  padding: 0; margin: -1px;
  overflow: hidden; clip: rect(0, 0, 0, 0);
  white-space: nowrap; border-width: 0;
}
/*NAV BAR===========================================================================================================================================================*/
.app-nav, #app-nav{
  display: flex; justify-content: space-between; align-items: center;
  height: 12rem; width: 100%; padding:1rem 3rem 1rem 3rem;
}
.app-nav button{
  background: none; border: none; cursor: pointer;
  filter: drop-shadow(var(--dropshw-color));
}
.app-nav button:hover{
  filter: drop-shadow(var(--dropshw-color-hover));
}
.list-menu ul{
  display: flex; gap: 2.5rem;
}
.list-menu li{
  list-style: none;
}
.list-menu a{
  color: var(--fclr-light); text-decoration: none; font-size: 2rem;
}
.list-menu a:hover{
  color: var(--font-hover-clr);
}
.container-acessibility img{
  width: 4rem; height: 4rem;
}
.logo_PrevSenior_Black{
  transform: translateX(-.5rem);
}
.container-acessibility-search{
  display: flex; align-items: center; gap: 2rem;
}
@media(max-width:767px){
  .container-acessibility a span{
    display: none; visibility: none;
  }
  .list-menu{
    display: none; visibility: none;
}
.container-search{
  display: none; visibility: none;
}
}
@media (min-width: 768px){
  .container-acessibility{
    display: flex; align-items: center; gap: 1.5rem;
  }
  .container-acessibility button{
    filter: drop-shadow(none);
  }
  .container-acessibility a{
    text-decoration: none; color: var(--fclr-light); font-size: 1.6rem;
  }
  .container-acessibility a:hover{
    color: var(--font-hover-clr);
  }
  .left-menu{
    display: none; visibility: none;
  }
}
.app-nav input{
  height: 4rem; background: none;
  border-radius: 4rem; border: 1px solid gray;
  box-shadow:0 0 1rem #7c7c7c2a; color: rgba(255, 255, 255, 0.548);
  transition: all 300ms ease-in-out;
}
.form {
  display: flex; flex-direction: row;
}
.search-field{
  width: 0%; padding: 1rem 3rem 1rem 1.3rem; border-radius: 10rem;
  transition: all 200ms ease-in-out;
}
.search-field-select{
  width: 100%; padding: 1rem 3rem 1rem 3rem; border-radius: 10rem;
  transition: all 200ms ease-in-out;
}
.search-button {
  background: transparent; margin-left: -3.3rem;
  border: none; outline: none;
}
.search-button img {
  cursor: pointer;
  width: 2rem; height: 2rem; object-fit: cover;
}
.app-nav input:focus{
  box-shadow:0 0 1rem hsla(0, 0%, 49%, 0.281);
}
.nav-line{
  width: 100%; height: .12rem; background: var(--line-clr-light);
}
/*HOME PAGE==========================================================================================================================================================*/
.slider-section{
  margin: 0 auto; width: 100rem; height: 40rem; object-fit: cover;
  overflow: hidden;
}
.slides{
  width: 400%; height:40rem; display: flex;
}
.slides input{
  display: none;
}
.image{
  width: 25%; position: relative;
}
.image img{
  width: 80rem;
}
.manual-navigation{
  margin-top: -4rem; justify-content: center; display: flex;
  position: absolute; width: 80rem;  gap: 2rem;
}
.manual-btn{
  border: .30rem solid var(--fclr-dark);
  padding: .85rem; border-radius: 3rem;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}
.manual-btn:hover{
  background: var(--fclr-light);
}
.radio-1:checked ~ .slider-1{
  margin-left: 0;
}
.radio-2:checked ~ .slider-1{
  margin-left: -25%;
}
/*BUTTON TO TOP======================================================================================================================================================*/
.back-to-top{
  position:fixed; bottom: 2rem; right: 2rem; background: var(--fclr-light);
  width: 5rem; height:5rem; display: flex; justify-content: center; align-items: center;
  border-radius: 50%; color: var(--fclr-dark); border: .1rem solid var(--fclr-dark);
  font-size: 3rem; text-decoration: none; 
}
.back-to-top img{
  width: 50%;
}
.app-main{
  min-height: 1000px;
}