*{
  margin: 0; padding: 0; box-sizing: border-box;
}
:root{
  font-size: 62.5%;
  --ff-main: 'Raleway', sans-serif;
  --bg-clr: radial-gradient(circle, rgb(29, 28, 28) 0%, rgba(9,9,9,1) 55%);
  --line-clr: linear-gradient(90deg, rgba(9,9,9,0.15) 0%, rgba(57,57,57,1) 50%, rgba(9,9,9,0.14609593837535018) 100%);
  --dropshw-color: 5px 5px 10px rgba(255, 255, 255, 0.055);
  --dropshw-color-hover: 5px 5px 10px rgba(255, 255, 255, 0.096);
}
body{
  font-family: var(--ff-main);
  background: var(--bg-clr);
}
.app-nav{
  display: flex; justify-content: space-between; align-items: center;
  height: 12rem; width: 100%; padding-block: 2rem; padding-inline: 3rem;
}
.nav-line{
  width: 100%; height: 1.2px; background: var(--line-clr);
}
.app-nav button{
  background: none; border: none; cursor: pointer;
  filter: drop-shadow(var(--dropshw-color));
}
.app-nav button:hover{
  filter: drop-shadow(var(--dropshw-color-hover));
}
@media(max-width:767px){
.container-acessibility a span{
  display: none; visibility: none;
}
.left-menu{
  display: none; visibility: none;
}
.app-nav input{
  height: 4rem; background: none; padding: 2rem;
  border-radius: 4rem; border: 1px solid gray;
  box-shadow:0 0 10px #7c7c7c2a; color: white;
  transition: all 300ms ease-in-out;
  }
  .form {
    display: flex; flex-direction: row;
  }
  .search-field {
    width: 100%;
    padding: 10px 35px 10px 15px;
    border: none; border-radius: 100px; outline: none;
  }
  .search-button {
    background: transparent; margin-left: -33px;
    border: none; outline: none;
  }
  .search-button img {
    cursor: pointer;
    width: 20px; height: 20px; object-fit: cover;
  }
  .app-nav input:focus{
    box-shadow:0 0 10px hsla(0, 0%, 49%, 0.281);
}
}
@media (min-width: 768px){
.logo_PrevSenior_Black{
  transform: translateX(15rem);
}
.container-acessibility-search{
  display: flex; align-items: center; gap: 2rem;
}
.container-acessibility{
  display: flex; align-items: center; gap: 1.5rem;
}
.container-acessibility button{
  filter: drop-shadow(none);
}
.container-acessibility a{
  text-decoration: none; color: white; font-size: 1.6rem;
}
.container-acessibility img{
  width: 4rem; height: 4rem;
}
.app-nav input{
height: 4rem; background: none; padding: 2rem;
border-radius: 4rem; border: 1px solid gray;
box-shadow:0 0 10px #7c7c7c2a; color: white;
transition: all 300ms ease-in-out;
}
.form {
  display: flex; flex-direction: row;
}
.search-field {
  width: 100%;
  padding: 10px 35px 10px 15px;
  border: none; border-radius: 100px; outline: none;
}
.search-button {
  background: transparent; margin-left: -33px;
  border: none; outline: none;
}
.search-button img {
  cursor: pointer;
  width: 2rem; height: 2rem; object-fit: cover;
}
.app-nav input:focus{
  box-shadow:0 0 10px hsla(0, 0%, 49%, 0.281);
}
}